{% extends 'base.html' %} {% block content %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "css/tasks.css" %}">
{% endblock %}

<h1>Task Details</h1>

<div class="task-details">
  <div class="task-details--card">
    <span class="task-details--card-name">Name: {{ tasks.name }}</span><br>
    <span class="task-details--card-description">Description: {{ tasks.description }}</span>
  </div>

  <div class="card-action">
    <a href="{% url 'tasks_update' tasks.id %}">Edit</a>
    <a href="{% url 'tasks_delete' tasks.id %}">Delete</a>
  </div>

</div>

{% endblock %}