{% extends 'base.html' %} {% block content %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "css/tasks.css" %}">
{% endblock %}

<h1>Task Tracker</h1>

<div class="task--new">
  <div class="task--new-timer">
    00:00:00
  </div> 
  <div class="task--new-dots">
    <img class="dots-vertical" src="https://i.imgur.com/xinjA2G.png"> 
  </div>
  <div class="task--new-start">
    <input class="timer-start" type="button" value="START"></input>
  </div>
</div>

<div class="task-list">

  <div class="task-list--individual">
    <span class="task-list--individual-name">Individual Tasks</span>
    {% for task in user_tasks %}
      <a href="{% url 'detail' task.id %}">
        <div class="task-list--card">
          <span class="task-list--card-name">{{ task.name }}</span><br>
          <span class="task-list--card-description">Description: {{ task.description }}</span>
        </div>
      </a>
      <br>
    {% endfor %} 
  </div>

  <div class="task-list--group">
    <span class="task-list--group-name">Group Tasks</span>
    {% for task in users_tasks %}
      <a href="{% url 'detail' task.id %}">
        <div class="task-list--card">
          <span class="task-list--card-name">{{ task.name }}</span><br>
          <span class="task-list--card-description">Description: {{ task.description }}</span>
        </div>
      </a>
      <br>
    {% endfor %} 
  </div>

</div>

{% endblock %}