{% extends 'base.html' %} {% block content %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "css/tasklist.css" %}">
{% endblock %}

<div class="task-list">

  <div class="task-list--individual">
    {% if user_tasks %}
    <span class="task-list--individual-name">created tasks</span>
    {% else %}
    {% endif %}
    {% for task in user_tasks %}
      <a href="{% url 'detail' task.id %}">
        <div class="task-list--individual-card">
          <span class="task-list--individual-icon"><img src="https://i.imgur.com/8Gs4RIR.png" alt=""></span>
          <span class="task-list--individual-card-name">{{ task.name }}</span>
          <span class="task-list--individual-card-dots"><img src="https://i.imgur.com/QzTEj8T.png" alt=""></span>
          <span class="task-list--individual-card-description">Description: {{ task.description }}</span>
        </div>
      </a>
    {% endfor %} 
  </div>

  <div class="task-list--group">
    {% if users_tasks %}
    <span class="task-list--group-name">group tasks</span>
    {% else %}
    {% endif %}
    {% for task in users_tasks %}
      <a href="{% url 'detail' task.id %}">
        <div class="task-list--group-card">
          <span class="task-list--group-icon"><img src="https://i.imgur.com/DxQbRlv.png" alt=""></span>
          <span class="task-list--group-card-name">{{ task.name }}</span>
          <span class="task-list--individual-card-dots"><img src="https://i.imgur.com/QzTEj8T.png" alt=""></span>
          <span class="task-list--group-card-description">Description: {{ task.description }}</span>
        </div>
      </a>
    {% endfor %} 
  </div>

</div>

{% endblock %}