.task-list--card {
  background-color: #ffffff;
  padding: 25px 100px 25px 100px;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.task-list--card-name {
  font-size: 1.25em;
}

.task-list--card-description {
  font-size: 1.25em;
}

.task-details--card {
  background-color: #ffffff;
  padding: 25px 100px 25px 100px;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.task-details--card-name {
  font-size: 1.5em;
}

.task-details--edit-delete-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  gap: 50px;
  justify-content: center;
}

.task-details--edit-btn {
  padding: 10px 20px 10px 20px;
  background-color: #00B2FF;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.task-details--delete-btn {
  padding: 10px 20px 10px 20px;
  background-color: #FF7E7E;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.task--new {
  background-color: #ffffff;
  padding: 25px 75px 25px 75px;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-top: 150px;
}

.task--new-timer {
  font-size: 2em;
}

.dots-vertical {
  margin-left: 10px;
  margin-right: 15px;
  margin-bottom: -7px;
}

.timer-start {
  padding: 10px 20px 10px 20px;
  background-color: #00B2FF;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.timer-stop {
  padding: 10px 20px 10px 20px;
  background-color: #FF7E7E;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.timer-reset {
  padding: 10px 20px 10px 20px;
  background-color: #181818;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.task-list {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "individual group";
  gap: 100px;
}

.task-list--individual {
  grid-area: individual;
}

.task-list--individual-name {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  padding-bottom: 15px;
}

.task-list--group {
  grid-area: group;
}

.task-list--group-name {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  padding-bottom: 15px;
}